.card {
    border: 3px solid rgb(0, 0, 0) ; 
    margin-bottom: 40px;
    border-radius: 20px;
}
.card-active {
    border: 3px solid rgba(125, 42, 7, 0.501) ; 
    background-color: rgb(255, 164, 18);
    
    /* border: 3px solid black; 
    margin-bottom: 40px;
    border-radius: 20px;
    transition: all 1500ms ease-out;
    background: linear-gradient(45deg,rgba(85, 17, 17, 0.615),rgb(235, 222, 38)); */
}
.name-hamburguesa{
    font-size: 22px;
}
.cant-hamburguesas{
    font-size: 18px;  
}